@model HelpDesk_Kvas.Models.Datos.Entity.AsignadoEntity
@{
    Layout = null;
}

<div class="login-screen"></div>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title"><span class="fa fa-users"></span> Elija un Técnico</h3>
</div>
<div class="modal-body">
    @using (Ajax.BeginForm("ElegirTecnico", "Requerimiento", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAjaxRequestSuccess" }, new { @id = "AjaxformId", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div>@Html.ValidationSummary("", new { @class = "text-default" })</div>
        <div class="modal-body" style="padding: 5px;">
            <div class="row">
                <input type="hidden" value="@ViewBag.Id" id="IdRequerimiento" name="IdRequerimiento" />
                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                    @Html.LabelFor(m => m.IdTecnico)
                    @Html.DropDownListFor(model => model.IdTecnico, ViewBag.Tecnico as SelectList, "Seleccione Técnico", htmlAttributes: new { @class = "form-control" })
                    <span>@Html.ValidationMessageFor(m => m.IdTecnico, "", new { @class = "text-danger" })</span>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-warning">Asignar</button>
            </div>
        </div>

    }
</div>
<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>

