@model PagedList.IPagedList<HelpDesk_Kvas.Models.Datos.Entity.RequerimientoViewEntity>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Requerimientos";
}

@Styles.Render("~/Content/css/Grupos.css")
@Scripts.Render("~/bundles/jquery")

<section class="content-header">
    <h1>
        Tablero
        <small>@ViewBag.Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Dashboard</li>
    </ol>
    <br />
</section>
<br />
<section class="content">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @using (Html.BeginForm("Index", "Requerimiento", FormMethod.Get))
    {
        <p>
            Buscar: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table table-hover">
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.ActionLink("Fecha", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Cliente", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Equipo
            </th>
            <th>
                Falla
            </th>
            <th>
                Tecnico
            </th>
            <th>
                @Html.ActionLink("Estatus", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Prioridad", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRequerimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEntrada.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)<br />
                    <i class="fa fa-phone"></i>
                    @Html.DisplayFor(modelItem => item.Telefonos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Falla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tecnico)
                </td>
                <td>
                    @if (item.IdEstatus == 61)
                    {
                        <span class="label label-default">@Html.DisplayFor(modelItem => item.Estatus)</span>
                    }
                    else if (item.IdEstatus == 62)
                    {
                        <span class="label label-info">@Html.DisplayFor(modelItem => item.Estatus)</span>
                    }
                    else if (item.IdEstatus == 63)
                    {
                        <span class="label label-warning">@Html.DisplayFor(modelItem => item.Estatus)</span>
                    }
                    @if (item.IdEstatus == 143)
                    {
                        <span class="label label-primary">@Html.DisplayFor(modelItem => item.Estatus)</span>
                    }
                    else if (item.IdEstatus == 144)
                    {
                        <span class="label label-success">@Html.DisplayFor(modelItem => item.Estatus)</span>
                    }
                    else if (item.IdEstatus == 145)
                    {
                        <span class="label label-danger">@Html.DisplayFor(modelItem => item.Estatus)</span>
                    }
                    @if (item.IdEstatus == 166)
                    {
                        <span class="label label-success">@Html.DisplayFor(modelItem => item.Estatus)</span>
                    }
                    else if (item.IdEstatus == 147)
                    {
                        <span class="label label-danger">@Html.DisplayFor(modelItem => item.Estatus)</span>
                    }
                </td>
                <td>
                    @if (item.IdPrioridad == 119)
                    {
                        <span class="label label-success">@Html.DisplayFor(modelItem => item.Prioridad)</span>
                    }
                    else if (item.IdPrioridad == 120)
                    {
                        <span class="label label-warning">@Html.DisplayFor(modelItem => item.Prioridad)</span>
                    }
                    else if (item.IdPrioridad == 121)
                    {
                        <span class="label label-danger">@Html.DisplayFor(modelItem => item.Prioridad)</span>
                    }
                </td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acciones <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/Requerimiento/Asignar/@item.IdRequerimiento">Asignar</a></li>
                            <li><a href="#">Editar</a></li>
                            <li><a href="#">Presupuesto</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.IdRequerimiento }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdRequerimiento }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdRequerimiento })*@
                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</section>