@model IEnumerable<KvasEntity.MenuEntity>
@{
    ViewBag.Title = "Lista de Tablas";
}
<section class="content-header">
    <h1>
        Tablero
        <small>Panel de Control</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<h2 class="text-center text-success">Listado de Tablas</h2>
<div class="well well-sm"><a class="btn btn-primary" href="~/Grupos/Create">Nuevo</a></div>
<table class="table table-hover table-striped">
    <thead>
        <tr class="bg-primary">
            <th>Código</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Orden</th>
            <th>Icono</th>
            <th>Estatus</th>
            <th>Tabla</th>
            <th>Padre</th>
            <th colspan="3">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objGrupo in Model)
        {
            <tr>
                <td>@objGrupo.IdGrupoDetalle</td>
                <td>@objGrupo.Titulo</td>
                <td>@objGrupo.Descripcion</td>
                <td>@objGrupo.Orden</td>
                <td>@objGrupo.Icono</td>
                <td>@objGrupo.Estatus</td>
                <td>@objGrupo.IdGrupo</td>
                <td>@objGrupo.IdPadre</td>
                <td><a class="btn btn-success" href="~/Grupos/Find/@objGrupo.IdGrupo"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                <td><a class="btn btn-info" href="~/Grupos/Edit/@objGrupo.IdGrupo"><span class="fa fa-edit"></span></a></td>
                <td><a class="btn btn-danger" href="~/Grupos/Delete/@objGrupo.IdGrupo"><span class="fa fa-book"></span></a></td>
            </tr>
        }
    </tbody>

</table>

<ul class="sidebar-menu">
    @if (Model != null)
    {

        foreach (var lv1 in Model)
        {
            if (lv1.IdPadre == 0)
            {
                <li class="treeview">
                    <a href="">
                        <i class="@lv1.Icono"></i>
                        <span>@lv1.Titulo</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    @if (lv1.IdPadre > 0)
                        {
                            <ul class="treeview-menu">
                                @foreach (var lv2 in lv1.Referencial)
                                {
                                    <li>
                                        <a href="@lv2.Descripcion">
                                            <i class="@lv2.Icono"></i>
                                            @lv2.Titulo
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        @*@if (lv2.GruposDetalles_Coleccion.Count > 0)
                                        {
                                            <ul class="treeview-menu">
                                                @foreach (var lv3 in lv2.GruposDetalles_Coleccion)
                                                {
                                                    <li>
                                                        <a href="@lv3.Descripcion">
                                                            <i class="@lv3.Icon"></i>
                                                            @lv3.Titulo
                                                            <span class="pull-right-container">
                                                                <i class="fa fa-angle-left pull-right"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        }*@
                                    </li>
                                }
                            </ul>
                        }
                </li>
            }

        }
    }
    else
    {
        <li class="treeview">
            <a href="">
                <i class=""></i>
                <span class="danger">Error!</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#">
                        <i class=""></i>
                        <span>Contacte al Administrador</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </li>
    }
</ul>


<div class="text-primary text-danger text-center">
    @ViewBag.MensajeError
</div>
