@model HelpDesk_Kvas.DataGrid.PagedList<HelpDesk_Kvas.Models.Datos.Entity.GruposDetallesView>
@{ 
    
}
@Styles.Render("~/Content/css/Grupos.css")
@Scripts.Render("~/bundles/jquery")

<section class="content-header">
    <h1>
        Tablero
        <small>@ViewBag.Nombre</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Dashboard</li>
    </ol>
    <br />
</section>
<br />
<section class="content">
    <div class="well">
        @using (Html.BeginForm("Index", null, FormMethod.Get))
        {
            <div class="row">
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text"
                               name="filter"
                               value="@ViewBag.filter"
                               class="form-control"
                               style="display: inline"
                               placeholder="Buscar..." />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go</button>
                        </span>
                    </div>
                </div>
                <div class="pull-right col-lg-1">
                    <a class="btn btn-success" data-modal="" href="/Menu/CreateMenu/@ViewBag.Id" id="btnCreate">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
            <div style="margin-top:17px;">
                @{
                    var grid = new WebGrid(
                                canPage: true,
                                rowsPerPage: Model.PageSize,
                                canSort: true,
                                ajaxUpdateContainerId: "grid");

                    grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
                    grid.Pager(WebGridPagerModes.All);

                    @grid.GetHtml(htmlAttributes: new { id = "grid" },
            fillEmptyRows: false,
            tableStyle: "table table-bordered table-hover",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
              grid.Column("IdGrupoDetalle", "ID"),
              grid.Column("Titulo", "Titulo"),
              grid.Column("Descripcion", "Descripcion"),
              grid.Column("Orden", "Orden"),
              grid.Column("Icono", header: "Icono", format: @<text>@Html.Raw("<span class='" + item.Icono + "'></span>")</text>),
              grid.Column("UrlDetalle", "Url"), 
              grid.Column("Estatus", header: "Estatus", format: @<text>
                @if (item.Estatus == true) {
                            @Html.Raw("<span class='label label-success'>Activo</span>")
                        }
                         @if (item.Estatus == false) {
                             @Html.Raw("<span class='label label-danger'>Inactivo</span>")
                         }
                </text>),
              grid.Column("FechaRegistro", header: "Fecha", format: @<text>@String.Format("{0:MM/dd/yy}", item.FechaRegistro) </text>),
              grid.Column(header: "Acciones", canSort: false, style: "action",
                format: @<text>
                @Html.ActionLink("Select", "Index", new { Nv2 = item.IdGrupoDetalle })
                @Html.Raw("<a data-modal='' href='/Menu/detailsMenu/" + item.IdGrupoDetalle + "' id='" + item.IdGrupoDetalle + "' title='Detail'> <span class='glyphicon glyphicon-search'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/Menu/editMenu/" + item.IdGrupoDetalle + "' id='" + item.IdGrupoDetalle + "' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                @Html.Raw("<a data-modal='' href='/Menu/deleteMenu/" + item.IdGrupoDetalle + "' id='" + item.IdGrupoDetalle + "' title='Delete'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                </text>)
            ));

                }
            </div>
        }
    </div>

    @if (Model.Content2 != null)
    {
        <h3>Sub Menu de <strong>@ViewBag.SelectPadre</strong></h3>
        <div class="well">
            @using (Ajax.BeginForm("Index", "Menu", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAjaxRequestSuccess" }, new { @id = "AjaxformId2", @class = "form-horizontal", role = "form" }))
            {
                <div class="row">
                    <div class="pull-right col-lg-1">
                        <a class="btn btn-success" data-modal="" href="/Menu/CreateSubMenu/@ViewBag.Nv2" id="btnCreate">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
                <div style="margin-top:17px;">
                    @{
                        var grid = new WebGrid(
                                    canPage: true,
                                    rowsPerPage: Model.PageSize,
                                    canSort: true,
                                    ajaxUpdateContainerId: "grid");

                        grid.Bind(Model.Content2, rowCount: Model.TotalRecords, autoSortAndPage: false);
                        grid.Pager(WebGridPagerModes.All);

                        @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
                fillEmptyRows: false,
                tableStyle: "table table-bordered table-hover",
                mode: WebGridPagerModes.All,
                columns: grid.Columns(
                  grid.Column("IdGrupoDetalle", "ID"),
                  grid.Column("Titulo", "Titulo"),
                  grid.Column("Descripcion", "Descripcion"),
                  grid.Column("Orden", "Orden"),
                  grid.Column("UrlDetalle", "Url"),
                  grid.Column("Icono", header: "Icono", format: @<text>@Html.Raw("<span class='" + item.Icono + "'></span>")</text>),
                  grid.Column("Estatus", header: "Estatus", format: @<text>
                @if (item.Estatus == true) {
                            @Html.Raw("<span class='label label-success'>Activo</span>")
                        }
                         @if (item.Estatus == false) {
                             @Html.Raw("<span class='label label-danger'>Inactivo</span>")
                         }
                </text>),
                  grid.Column("FechaRegistro", header: "Fecha", format: @<text>@String.Format("{0:MM/dd/yy}", item.FechaRegistro) </text>),
                  grid.Column(header: "Acciones", canSort: false, style: "action",
                    format: @<text>
                    @Html.ActionLink("Select", "Index", new { Nv2 = ViewBag.Nv2, Nv3 = item.IdGrupoDetalle }) |
                    @Html.Raw("<a data-modal='' href='/Menu/detailsSubMenu/" + item.IdGrupoDetalle + "' id='" + item.IdGrupoDetalle + "' title='Detail'> <span class='glyphicon glyphicon-search'> </span> </a>")
                    @Html.Raw("<a data-modal='' href='/Menu/editSubMenu/" + item.IdGrupoDetalle + "' id='" + item.IdGrupoDetalle + "' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                    @Html.Raw("<a data-modal='' href='/Menu/deleteSubMenu/" + item.IdGrupoDetalle + "' id='" + item.IdGrupoDetalle + "' title='Delete'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                    </text>)
                ));
                    }
                </div>
            }
        </div>
    }

    @if (Model.Content3 != null)
    {
        <h3>Sub Menu de <strong>@ViewBag.SelectHijo</strong></h3>
        <div class="well">
            @using (Ajax.BeginForm("Index", "Menu", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAjaxRequestSuccess" }, new { @id = "AjaxformId3", @class = "form-horizontal", role = "form" }))
            {
                <div class="row">

                    <div class="pull-right col-lg-1">
                        <a class="btn btn-success" data-modal="" href="/Menu/CreateSubMenu/@ViewBag.Nv3" id="btnCreate">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>

                <div style="margin-top:17px;">
                    @{
                        var grid = new WebGrid(
                                    canPage: true,
                                    rowsPerPage: Model.PageSize,
                                    canSort: true,
                                    ajaxUpdateContainerId: "grid");

                        grid.Bind(Model.Content3, rowCount: Model.TotalRecords, autoSortAndPage: false);
                        grid.Pager(WebGridPagerModes.All);

                        @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
                fillEmptyRows: false,
                tableStyle: "table table-bordered table-hover",
                mode: WebGridPagerModes.All,
                columns: grid.Columns(
                  grid.Column("IdGrupoDetalle", "ID"),
                  grid.Column("Titulo", "Titulo"),
                  grid.Column("Descripcion", "Descripcion"),
                  grid.Column("Orden", "Orden"),
                  grid.Column("Padre", "Cat. Superior"),
                  grid.Column("Icono", header: "Icono", format: @<text>@Html.Raw("<span class='" + item.Icono + "'></span>")</text>),
                  grid.Column("Estatus", header: "Estatus", format: @<text>
                @if (item.Estatus == true) {
                            @Html.Raw("<span class='label label-success'>Activo</span>")
                        }
                         @if (item.Estatus == false) {
                             @Html.Raw("<span class='label label-danger'>Inactivo</span>")
                         }
                </text>),
                  grid.Column("FechaRegistro", header: "Fecha", format: @<text>@String.Format("{0:MM/dd/yy}", item.FechaRegistro) </text>),
                  grid.Column(header: "Acciones", canSort: false, style: "action",
                    format: @<text>
                    @Html.Raw("<a data-modal='' href='/Menu/detailsSubMenu/" + item.IdGrupoDetalle + "' id='" + item.IdGrupoDetalle + "' title='Detail'> <span class='glyphicon glyphicon-search'> </span> </a>")
                    @Html.Raw("<a data-modal='' href='/Menu/editSubMenu/" + item.IdGrupoDetalle + "' id='" + item.IdGrupoDetalle + "' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                    @Html.Raw("<a data-modal='' href='/Menu/deleteSubMenu/" + item.IdGrupoDetalle + "' id='" + item.IdGrupoDetalle + "' title='Delete'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                    </text>)
                ));
                    }
                </div>
                        }
        </div>
    }
</section>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<script src="~/Content/js/PruebaModal.js"></script>
