@{
    ViewBag.Title = "Página de Inicio";
}
<link href="~/Content/lib/plugins/morris/morris.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        Tablero
        <small>@ViewBag.Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="/Requerimiento">
                    <span class="info-box-icon bg-purple"><i class="fa fa-cog"></i></span>
                </a>
                <div class="info-box-content">
                    <a href="/Requerimiento">
                        <span class="info-box-text">ORDENES DE TRABAJO</span>
                    </a>
                    <span class="info-box-number">@ViewBag.ContarRequerimientos</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="/Producto">
                    <span class="info-box-icon bg-green"><i class="fa fa-barcode"></i></span>

                </a>
                <div class="info-box-content">
                    <a href="/Producto">
                        <span class="info-box-text">PRODUCTOS</span>
                    </a>
                    <span class="info-box-number">@ViewBag.ContarProductos</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="/Servicio">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-tags"></i></span>

                </a><div class="info-box-content">
                    <a href="/Servicio">
                        <span class="info-box-text">SERVICIOS</span>
                    </a>
                    <span class="info-box-number">@ViewBag.ContarServicios</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="/Persona">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>

                </a><div class="info-box-content">
                    <a href="/Persona">
                        <span class="info-box-text">CLIENTES</span>
                    </a>
                    <span class="info-box-number">@ViewBag.ContarPersonas</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- DONUT CHART -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Equipos recibidos</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="sales-chart" style="height: 300px; position: relative;"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
            <!-- BAR CHART -->
            @*<div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Grafica de Servicios</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="bar-chart" style="height: 300px;"></div>
                </div>
            </div>*@
            <!-- /.box -->
        </div>
        <!-- /.col (RIGHT) -->
    </div>
</section>
<script src="~/Content/lib/plugins/morris/morris.min.js"></script>

<script>
    $(function () {
        "use strict";
        //DONUT CHART
        var donut = new Morris.Donut({
            element: 'sales-chart',
            resize: true,
            colors: ["#3c8dbc", "#f56954", "#00a85a", "#3c8dbc"],
            data: [
                { label: "Impresoras", value: @ViewBag.ContarImpresoras },
                { label: "Pc y Laptop", value: @ViewBag.ContarInformatica },
                { label: "Móviles", value: @ViewBag.ContarMoviles },
                { label: "Otros", value: @ViewBag.ContarRedes }
            ],
            hideHover: 'auto'
        });

        //BAR CHART
        //var bar = new Morris.Bar({
        //    element: 'bar-chart',
        //    resize: true,
        //    data: [
        //        { y: '2006', a: 100, b: 90 },
        //        { y: '2007', a: 75, b: 65 },
        //        { y: '2008', a: 50, b: 40 },
        //        { y: '2009', a: 75, b: 65 },
        //        { y: '2010', a: 50, b: 40 },
        //        { y: '2011', a: 75, b: 65 },
        //        { y: '2012', a: 100, b: 90 }
        //    ],
        //    barColors: ['#00a65a', '#f56954'],
        //    xkey: 'y',
        //    ykeys: ['a', 'b'],
        //    labels: ['CPU', 'DISK'],
        //    hideHover: 'auto'
        //});
    });
</script>
