@{
    ViewBag.Title = "Página de Início";
}
<link href="~/Content/lib/plugins/morris/morris.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        Tablero
        <small>@ViewBag.Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="/Requerimiento">
                    <span class="info-box-icon bg-purple"><i class="fa fa-cog"></i></span>
                </a>
                <div class="info-box-content">
                    <a href="/Requerimiento">
                        <span class="info-box-text">ORDENES DE TRABAJO</span>
                    </a>
                    <span class="info-box-number">@ViewBag.ContarRequerimientos</span>
                    <span class="progress-description">
                        Ordenes nuevas: 6
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="/Producto">
                    <span class="info-box-icon bg-green"><i class="fa fa-barcode"></i></span>

                </a>
                <div class="info-box-content">
                    <a href="/Producto">
                        <span class="info-box-text">PRODUCTOS</span>
                    </a>
                    <span class="info-box-number">@ViewBag.ContarProductos</span>
                    <span class="progress-description">
                        Productos nuevos: 0
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="/Servicio">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-tags"></i></span>

                </a><div class="info-box-content">
                    <a href="/Servicio">
                        <span class="info-box-text">SERVICIOS</span>
                    </a>
                    <span class="info-box-number">@ViewBag.ContarServicios</span>
                    <span class="progress-description">
                        Servicios nuevos: 0
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <a href="/Persona">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>

                </a><div class="info-box-content">
                    <a href="/Persona">
                        <span class="info-box-text">CLIENTES</span>
                    </a>
                    <span class="info-box-number">@ViewBag.ContarPersonas</span>
                    <span class="progress-description">
                        Clientes nuevos: 1
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- AREA CHART -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Area Chart</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="revenue-chart" style="height: 300px;"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- DONUT CHART -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Donut Chart</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="sales-chart" style="height: 300px; position: relative;"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
            <!-- LINE CHART -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Line Chart</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="line-chart" style="height: 300px;"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- BAR CHART -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Bar Chart</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="bar-chart" style="height: 300px;"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col (RIGHT) -->
    </div>
</section>
<script src="~/Content/lib/plugins/morris/morris.min.js"></script>

<script>
    $(function () {
        "use strict";

        // AREA CHART
        var area = new Morris.Area({
            element: 'revenue-chart',
            resize: true,
            data: [
                { y: '2018 M1', item1: 2666, item2: 2666, item3: 100 },
                { y: '2018 M2', item1: 2778, item2: 2294 },
                { y: '2018 M3', item1: 4912, item2: 1969 },
                { y: '2018 M4', item1: 3767, item2: 3597 },
                { y: '2018 M5', item1: 4912, item2: 1969 },
                { y: '2018 M6', item1: 3767, item2: 3597 },
                { y: '2018 M7', item1: 4912, item2: 1969 },
                { y: '2018 M8', item1: 3767, item2: 3597 },
                { y: '2018 M9', item1: 4912, item2: 1969 },
                { y: '2018 M10', item1: 3767, item2: 3597 },
                { y: '2018 M11', item1: 4912, item2: 1969 },
                { y: '2018 M12', item1: 3767, item2: 3597 }
            ],
            xkey: 'y',
            ykeys: ['item1', 'item2', 'item3'],
            labels: ['Recibidas', 'Terminas', 'Devueltas'],
            lineColors: ['#a0d0e0', '#3c8dbc', '#ffff'],
            hideHover: 'auto'
        });

        // LINE CHART
        var line = new Morris.Line({
            element: 'line-chart',
            resize: true,
            data: [
                { y: 'Pc', item1: 2666, item2: 444 },
                { y: 'Laptop', item1: 2666, item2: 444 }

                
            ],
            xkey: 'y',
            ykeys: ['item1', 'item2'],
            labels: ['Pc', 'Laptop'],
            lineColors: ['#3c8dbc'],
            hideHover: 'auto'
        });

        //DONUT CHART
        var donut = new Morris.Donut({
            element: 'sales-chart',
            resize: true,
            colors: ["#3c8dbc", "#f56954", "#00a85a", "#3c8dbc"],
            data: [
                { label: "Impresoras", value: 12 },
                { label: "Pc", value: 30 },
                { label: "Laptop", value: 20 },
                { label: "Otros", value: 20 }
            ],
            hideHover: 'auto'
        });

        //BAR CHART
        var bar = new Morris.Bar({
            element: 'bar-chart',
            resize: true,
            data: [
                { y: '2006', a: 100, b: 90 },
                { y: '2007', a: 75, b: 65 },
                { y: '2008', a: 50, b: 40 },
                { y: '2009', a: 75, b: 65 },
                { y: '2010', a: 50, b: 40 },
                { y: '2011', a: 75, b: 65 },
                { y: '2012', a: 100, b: 90 }
            ],
            barColors: ['#00a65a', '#f56954'],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['CPU', 'DISK'],
            hideHover: 'auto'
        });
    });
</script>
