@model IEnumerable<KvasEntity.GruposDetallesEntity>
@{
    ViewBag.Title = "Lista de Tablas";
}
@Styles.Render("~/Content/css/Grupos.css")

<section class="content-header">
    <h1>
        Tablero
        <small>@ViewBag.Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<br />

<section class="content">

    <link href="~/Content/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var objGrupo in Model)
            {
                <tr>
                    <td>@objGrupo.IdGrupoDetalle</td>
                    <td>@objGrupo.Titulo</td>
                    <td>@objGrupo.Descripcion</td>
                    <td>@objGrupo.Orden</td>
                    <td>@objGrupo.IdGrupo</td>
                    <td>@objGrupo.IdPadre</td>
                    <td><span class="@objGrupo.Icono"></span></td>
                    <td>@objGrupo.UrlDetalle</td>
                    <td>@objGrupo.Estatus</td>
                    <td>@objGrupo.FechaRegistro</td>
                    <td><a class="btn btn-success" href="~/GrupoDetalle/Detail/@objGrupo.IdGrupoDetalle"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                    <td><a class="btn btn-info" href="~/GrupoDetalle/Edit/@objGrupo.IdGrupoDetalle"><span class="fa fa-edit"></span></a></td>
                    <td><a class="btn btn-danger" href="~/GrupoDetalle/Delete/@objGrupo.IdGrupoDetalle"><span class="fa fa-book"></span></a></td>
                </tr>
            }
        </tbody>
    </table>

    <script src="~/Content/lib/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/Content/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/lib/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/lib/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>




            
</section>