@*@model List<KvasEntity.GruposEntity>*@


@model PagedList.IPagedList<KvasEntity.GruposDetallesEntity>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Lista de Tablas";
}
@Styles.Render("~/Content/css/Grupos.css")

<section class="content-header">
    <h1>
        Tablero
        <small>@ViewBag.Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<br />

<section class="content">
    <div class="col-md-3 align-right">
        @using (Html.BeginForm("Index", "GrupoDetalle", FormMethod.Get))
        {
            <div class="input-group">
                @Html.TextBox("SearchString", ViewBag._filtro as string, new { @class = "form-control", @placeholder = "Buscar..." })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        }
    </div>
    <br /><br />
    @*<div class="well well-sm"><a class="btn btn-primary" href="~/Grupos/Create">Nuevo</a></div>*@

    <table class="table table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th>
                    @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Titulo", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    @Html.ActionLink("Orden", "Index", new { sortOrder = ViewBag.OrdenSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>Grupo</th>
                <th>Tabla</th>
                <th>Icono</th>
                <th>Url</th>
                <th>Estatus</th>
                <th>Fecha de Registro</th>
                <th colspan="3">Operaciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var objGrupo in Model)
            {
                <tr>
                    <td>@objGrupo.IdGrupoDetalle</td>
                    <td>@objGrupo.Titulo</td>
                    <td>@objGrupo.Descripcion</td>
                    <td>@objGrupo.Orden</td>
                    <td>@objGrupo.IdGrupo</td>
                    <td>@objGrupo.IdPadre</td>
                    <td><span class="@objGrupo.Icono"></span></td>
                    <td>@objGrupo.UrlDetalle</td>
                    <td>@objGrupo.Estatus</td>
                    <td>@objGrupo.FechaRegistro</td>
                    <td><a class="btn btn-success" href="~/GrupoDetalle/Detail/@objGrupo.IdGrupoDetalle"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                    <td><a class="btn btn-info" href="~/GrupoDetalle/Edit/@objGrupo.IdGrupoDetalle"><span class="fa fa-edit"></span></a></td>
                    <td><a class="btn btn-danger" href="~/GrupoDetalle/Delete/@objGrupo.IdGrupoDetalle"><span class="fa fa-book"></span></a></td>
                </tr>
            }
        </tbody>

    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    <div class="text-primary text-danger text-center">
        @ViewBag.MensajeError
    </div>
</section>


