@model HelpDesk_Kvas.Models.Datos.Entity.GruposEntity

@{ 
 
}
<section class="content">
    <div class="form-horizontal">
        <h4>Entitdades</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Icono)
            </dt>

            <dd>
                <span class="@Html.DisplayFor(model => model.Icono)"></span>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdPadre)
            </dt>

            <dd>
                @ViewBag.ListaGrupo
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estatus)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaRegistro)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdGrupo }) |
        @Html.ActionLink("Regresar al Listado", "Index")
    </p>
</section>
