@model PagedList.IPagedList<KvasEntity.GruposEntity>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Lista de Tablas";
}

@Styles.Render("~/Content/css/Grupos.css")


<section class="content-header">
    <h1>
        Tablero
        <small>@ViewBag.Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<br />
<section class="content">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
    <div class="col-md-3">
        @using (Html.BeginForm("Index", "Grupo", FormMethod.Get))
            {
            <div class="input-group">
                @Html.TextBox("SearchString", ViewBag._filtro as string, new { @class = "form-control", @placeholder = "Buscar..." })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        }
    </div>
    <br /><br /><br />
    <div class="box">
        <div class="box-body">
            <div class="btn dropdown">
                <a class="btn btn-apps" data-toggle="modal" data-target="#squarespaceModal"">
                    <span class="fa fa-plus-square fa-4x"></span>
                    <span class="glyphicon-class">Nueva Entidad</span>
                </a>
            </div>
            @foreach (var g in Model)
            {
                <div class="btn dropdown">
                    <a class="btn btn-apps dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="@g.Icono"></span>
                        <span class="glyphicon-class">@g.Titulo</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/GrupoDetalle/index/@g.IdGrupo">Listar</a></li>
                        <li><a href="/Grupo/Details/@g.IdGrupo">Detalle</a></li>
                        <li><a href="/Grupo/Edit/@g.IdGrupo">Editar</a></li>
                        <li><a href="/Grupo/Delete/@g.IdGrupo">Eliminar</a></li>
                    </ul>
                </div>
            }


            <br /><br /><br /><br />

        </div>
        <!-- /.box-body -->
    </div>
</section>

<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Agregar Entidad</h3>
            </div>
            <div class="modal-body">
                @{ Html.RenderAction("Create", "Grupo");}
            </div>
            <br /><br />
        </div>
    </div>
</div>

<div class="modal fade" id="squarespaceModaledi" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Agregar Entidad</h3>
            </div>
            <div class="modal-body">
                @{ Html.RenderAction("Edit", "Grupo");}
            </div>
            <br /><br />
        </div>
    </div>
</div>
