@model HelpDesk_Kvas.Models.Datos.Entity.PresupuestoViewModel
@{
    ViewBag.Title = "Create";
}
<script>
    $(document).ready(function () {
        $("#Producto").autocomplete({
            dataType: 'JSON',
            source: function (request, response) {
                $.ajax({
                    url: "/Presupuesto/BuscarProducto",
                    type: "POST",
                    dataType: "json",
                    data: { _nombre: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                id: item.IdProducto,
                                sku: item.Sku,
                                value: item.Nombre,
                                descripcion : item.Descripcion,
                                precio: item.PrecioVenta
                            }
                        }))

                    }
                })
            },
            select: function (e, ui) {
                $("#IdPoS").val(ui.item.id);
                $("#Sku").val(ui.item.sku);
                $("#Descripcion").val(ui.item.descripcion);
                $("#PrecioUnitario").val(ui.item.precio);
                $("#Cantidad").focus();
            }
        });
    })


</script>

<script type="text/javascript">
    $(document).ready(function () {
        //botones guardar
        $("#guardar").click(function () {
            //alertify.alert("Boton Iniciado");
            console.info('hola');
            var i = 0;
            var envio = "{IdRequerimiento:'" + $("#IdRequerimiento").val() + "',";
            $("#tproductos tbody tr").each(function (index) {
                if (i == 0) {
                    envio += "ListadoDetalle:[{IdPoS:'" + $(this).find('td').eq(0).text() +
                        "',Cantidad:'" + $(this).find('td').eq(3).text() +
                        "',PrecioUnitario:'" + $(this).find('td').eq(4).text() + "'}";
                } else {
                    envio += ",{IdPoS:'" + $(this).find('td').eq(0).text() +
                        "',Cantidad:'" + $(this).find('td').eq(3).text() +
                        "',PrecioUnitario:'" + $(this).find('td').eq(4).text() + "'}";
                }
                i = 1;
            });
            envio += "]}";

            var json = eval("(" + envio + ')');

            //alertify.alert("INGRESE DATOS");
            console.info(json);

            $.ajax({
                url: "Create",
                data: JSON.stringify(json),
                type: "POST",
                async: false,//this makes the ajax-call blocking
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function (response) {
                    alertify.alert(response);
                    valid = response.valid;
                },
                error: function (error) {
                    alertify.alert(error);

                }
            });
        });

    });
    //variables
    var total = 0;
    var valor = 0;
    var subtotal = 0;
    var totalpagar = 0;
    var iva = 0; 

    function fn_agregar() {

        cadena = "<tr>"
        cadena = cadena + "<td>" + $("#IdPoS").val() + "</td>";
        cadena = cadena + "<td>" + $("#Producto").val() + "</td>";
        cadena = cadena + "<td>" + $("#Descripcion").val() + "</td>";
        cadena = cadena + "<td>" + $("#Cantidad").val() + "</td>";
        cadena = cadena + "<td>" + $("#PrecioUnitario").val() + "</td>";
        var y = 0;
        var x = 0;
        y = $("#Cantidad").val();
        x = $("#PrecioUnitario").val();
        subtotal = (x * y);
        cadena = cadena + "<td>" + subtotal + "</td>";
        cadena = cadena + "<td><a class ='elimina'><button class='btn btn-danger' type='button'><span class='fa fa-remove'></span></button></a></td>";
        $("#tproductos tbody").append(cadena);
        sumar();
        fn_dar_eliminar();
        limpiar();
    };

    function limpiar() {
        $("#IdPoS").val("");
        $("#Sku").val("");
        $("#Producto").val("");
        $("#Descripcion").val("");
        $("#Cantidad").val("");
        $("#PrecioUnitario").val("");
        
        
    }

    function limpiarDetalle() {
        $("#detalle tbody tr").val("");
    }

    function sumar() {
        total = total + subtotal;
        iva = total * 0.12;
        totalpagar = iva + total;
        $("#SubTotal").val(total.toFixed(2));
        $("#Iva").val(iva.toFixed(2));
        $("#TotalFinal").val(totalpagar.toFixed(2));
    }

    function restar() {
        total = total - valor;
        iva = total * 0.12;
        totalpagar = iva + total;
        $("#SubTotal").val(total);
        $("#Iva").val(iva);
        $("#TotalFinal").val(totalpagar);
    }

    function fn_dar_eliminar() {
        $("a.elimina").click(function () {
            valor = $(this).parents("tr").find("td").eq(5).html();

            $(this).parents("tr").fadeOut("normal", function () {
                $(this).remove();
                restar();
            });
        });
    };
</script>

<section class="content-header">
    <h1>
        Tablero
        <small>@ViewBag.Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<br /><br />

<section class="content">
    <div class="row">
        <div>@Html.ValidationSummary("", new { @class = "text-danger" })</div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="well well-sm">
                <form action="javascript:fn_agregar()" method="post" id="frm_usu" class="form-horizontal">
                    @Html.AntiForgeryToken()
                    <div>@Html.ValidationSummary("", new { @class = "text-danger" })</div>
                    <div class="row">
                        <!--Nombre-->
                        <input id="IdRequerimiento" name="IdRequerimiento" type="hidden" value="@ViewBag.IdRequerimiento" />
                        @*@Html.HiddenFor(x => x.IdRequerimiento, new {@value="1"})*@
                        @Html.HiddenFor(x => x.IdPoS)
                        @Html.HiddenFor(x => x.Descripcion)
                        <div class="col-xs-4">
                            @*@Html.LabelFor(x => x.NombreProducto)*@
                            @Html.TextBoxFor(x => x.NombreProducto, new { @class = "form-control", @placeholder = "Buscar producto por nombre...", id = "Producto" })
                            @Html.ValidationMessageFor(model => model.NombreProducto, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(x => x.Sku, new { @class = "form-control", @disabled = "disabled", placeholder = "Codigo SKU" })
                            @Html.ValidationMessageFor(model => model.Sku, "", new { @class = "text-danger" })
                        </div>
                        <!--Nombre-->
                        <div class="col-xs-2">
                            @Html.TextBoxFor(x => x.Cantidad, new { @class = "form-control", placeholder = "Cantidad" })
                            @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                        </div>
                        <!--Nombre-->
                        <div class="col-xs-2">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Bs.</span>
                                @Html.TextBoxFor(x => x.PrecioUnitario, new { @class = "form-control", placeholder = "Precio" })
                            </div>
                            @Html.ValidationMessageFor(model => model.PrecioUnitario, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xs-1">
                            <button class="btn btn-primary" type="submit" value="agregar_producto" name="action">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <br /><br />

                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table id="tproductos" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Producto</th>
                                    <th>Descripcion</th>
                                    <th>Cant.</th>
                                    <th>Precio</th>
                                    <th>Subtotal</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-xs-8">
                        <p class="lead">Terminos y condiciones:</p>
                            @*<img src="~/Content/images/img/credit/visa.png" alt="Visa">
                            <img src="~/Content/images/img/credit/mastercard.png" alt="Mastercard">
                            <img src="~/Content/images/img/credit/american-express.png" alt="American Express">*@
                        <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                            Terminos y condiciones
                        </p>
                    </div>
                    <!-- /.col -->
                    <br />
                    <div class="col-xs-4">
                        <div class="table-responsive">
                            <table class="table">
                                <tr></tr>
                                <tr>
                                    <th style="width:50%">Subtotal:</th>
                                    <td>Bs. <input id="SubTotal" name="SubTotal" type="text" disabled style="border:0;"/></td>
                                </tr>
                                <tr>
                                    <th>IVA (12%)</th>
                                    <td>Bs. <input id="Iva" name="Iva" type="text" disabled style="border:0;" /></td>
                                </tr>
                                <tr>
                                    <th>Total:</th>
                                    <td>Bs. <input id="TotalFinal" name="TotalFinal" type="text" disabled style="border:0;" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row">
                    <div id="resultados_ajax"> </div>
                    <button type="submit" class="btn btn-primary pull-right" id="guardar">Agregar</button>
                </div>
            </div>
            <hr />
        </div>
    </div>
</section>