@model IEnumerable<HelpDesk_Kvas.Models.Datos.Entity.PresupuestoViewEntity>
@{ 
    Layout = null;
}
<div class="col-md-12">
    <!--PRESUPUESTO-->
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title"><span class="glyphicon glyphicon-list"></span> Presupuesto</h3>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <div class="box-body">
            <!-- /.box-header -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table id="tproductos" class="table table-striped">
                        <thead>
                            <tr>
                                <th>#Codigo</th>
                                <th>Producto</th>
                                <th>Descripcion</th>
                                <th>Cant.</th>
                                <th>Precio</th>
                                <th>Subtotal</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Sku)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NombreProducto)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PrecioUnitario)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Subtotal)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <div class="row">
                <!-- accepted payments column -->
                <div class="col-xs-8">
                    <p class="lead">Terminos y condiciones:</p>
                    @*<img src="~/Content/images/img/credit/visa.png" alt="Visa">
                        <img src="~/Content/images/img/credit/mastercard.png" alt="Mastercard">
                        <img src="~/Content/images/img/credit/american-express.png" alt="American Express">*@
                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                        Terminos y condiciones
                    </p>
                </div>
                <!-- /.col -->
                <br />
                <div class="col-xs-4">
                    <div class="table-responsive">
                        <table class="table">
                            <tr></tr>
                            <tr>
                                <th style="width:50%">Subtotal:</th>
                                <td>Bs. <input id="SubTotal" name="SubTotal" type="text" value="@ViewBag.Total" disabled style="border:0;" /></td>
                            </tr>
                            <tr>
                                <th>IVA (12%)</th>
                                <td>Bs. <input id="Iva" name="Iva" type="text" value="@ViewBag.Iva" disabled style="border:0;" /></td>
                            </tr>
                            <tr>
                                <th>Total:</th>
                                <td>Bs. <input id="TotalFinal" name="TotalFinal" value="@ViewBag.TotalPagar" type="text" disabled style="border:0;" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!--PRESUPUESTO-->
</div>