@model PagedList.IPagedList<HelpDesk_Kvas.Models.Datos.Entity.UsuarioViewEntity>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Usuarios";
}



@Styles.Render("~/Content/css/Grupos.css")
@Scripts.Render("~/bundles/jquery")

<section class="content-header">
    <h1>
        Tablero
        <small><span class="fa fa-users"></span> @ViewBag.Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Usuarios</li>
    </ol>
</section>

<section class="content">
    <div class=" row">
        @using (Html.BeginForm("Index", "Account", FormMethod.Get))
        {

            <div class="col-sm-4">
                <div class="input-group">

                    <input type="text"
                           name="SearchString"
                           id="SearchString"
                           value="@ViewBag.filter"
                           class="form-control"
                           style="display: inline"
                           placeholder="Buscar..." />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
                    </span>
                </div>
            </div>

        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Listado de Usuarios</h3>
                    <div class="pull-right col-lg-1">
                        <a class="btn btn-success" data-modal="" href="/Account/RegistrarA" id="btnCreate">
                            <span class="glyphicon glyphicon-plus">Nuevo</span>
                        </a>
                    </div>
                </div><!-- /.box-header -->

                <div class="box-body">
                    <table class="table table-condensed table-hover table-striped">
                        <tbody>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    @Html.ActionLink("Nombres", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                </th>
                                <th>
                                    @Html.ActionLink("Usuario", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                </th>
                                <th>
                                    Correo
                                </th>
                                <th>
                                    @Html.ActionLink("Grupo", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                </th>
                                <th>
                                    @Html.ActionLink("Fecha", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                                </th>
                                <th>
                                    Estatus
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdUsuario)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombres)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)<br />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)<br />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rol)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaRegistroUsuario)
                                    </td>
                                    <td>
                                        @if (item.Estatus == true)
                                        {
                                            <span class="label label-success">Activo</span>
                                        }
                                        @if (item.Estatus == false)
                                        {
                                            <span class="label label-danger">Inactivo</span>
                                        }
                                    </td>
                                    <td>
                                        <!-- Single button -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Acciones <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a data-modal="" href="/Account/Detalles/@item.IdUsuario" id="btnCreate" title="Detalles">Detalle</a></li>
                                                @if (User.IsInRole("Cliente") == false)
                                                {
                                                    <li><a data-modal="" href="/Account/CambiarPass/@item.IdUsuario" id="btnCreate" title="Asignar">Reset Contraseña</a></li>
                                                    <li><a data-modal="" href="/Account/Editar/@item.IdUsuario" id="btnCreate" title="Asignar">Editar</a></li>
                                                    <li><a data-modal="" href="/Account/Delete/@item.IdUsuario" id="btnCreate" title="Eliminar">Eliminar</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <br />
                    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index",
                                                  new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>

</section>




<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<script src="~/Content/js/PruebaModal.js"></script>

