@model HelpDesk_Kvas.Models.Datos.Entity.ChanagePasswordEntity
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Recuperar contrasena";
}
<div class="login-screen"></div>
<div class="login-center">
    <div class="container min-height" style="margin-top: 20px;">
        <div class="row">
            <div class="col-xs-4 col-md-offset-8">
                <div class="login" id="card" style="perspective: 640px; position: relative; transform-style: preserve-3d;">
                    <div class="front signin_form" style="height: 100%; width: 100%; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out;">
                        <br />
                        @using (Html.BeginForm("RecuperarPass", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Responda correctamente su pregunta de seguridad</h4>
                            <hr />
                            <div>@Html.ValidationSummary("", new { @class = "text-default" })</div>
                            <input type="hidden" id="UserName" name="UserName" value="@ViewBag.UserName" />
                            <div class="form-group" style="backface-visibility: hidden;">
                                <div class="input-group" style="backface-visibility: hidden;">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contrasena", style = "backface-visibility: hidden;" })
                                    <span class="input-group-addon" style="backface-visibility: hidden;">
                                        <i class="glyphicon glyphicon-lock" style="backface-visibility: hidden;"></i>
                                    </span>
                                </div>
                                <div class="col-md-10">
                                    <span>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-default" })</span>
                                </div>
                            </div>
                            <div class="form-group" style="backface-visibility: hidden;">
                                <div class="input-group" style="backface-visibility: hidden;">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmar Contrasena", style = "backface-visibility: hidden;" })
                                    <span class="input-group-addon" style="backface-visibility: hidden;">
                                        <i class="glyphicon glyphicon-lock" style="backface-visibility: hidden;"></i>
                                    </span>
                                </div>
                                <div class="col-md-10">
                                    <span>@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-default" })</span>
                                </div>
                            </div>
                            <div class="form-group sign-btn" style="backface-visibility: hidden;">
                                <input type="submit" class="btn" value="Enviar" style="backface-visibility: hidden;">
                                <br />
                                <br />
                                <p style="backface-visibility: hidden;">
                                    <strong style="backface-visibility: hidden;">¿Problemas para iniciar sesion?</strong>
                                    <br style="backface-visibility: hidden;">
                                </p>
                                <p>
                                    @Html.ActionLink("Registrar como nuevo usuario", "RegistrarB")
                                </p>
                                <p>
                                    @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>