@model HelpDesk_Kvas.Models.Datos.Entity.PersonasEntity
@{

}
<script>
    $(document).ready(function () {
        $("#CiRif").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Persona/Filtros",
                    type: "POST",
                    dataType: "json",
                    data: { _ci: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.CiRif, value: item.CiRif
                            };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>

@using (Html.BeginForm("Create", "Persona", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <!--Datos Usuario-->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Detalle del Cliente</h3>
            <div class="pull-right">
                <a class="btn btn-success btn-sm" data-modal="" href="/Persona/Create" id="btnCreate">
                    <span class="glyphicon glyphicon-plus"></span> Agregar Cliente
                </a>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Cedula:</label>
                        @Html.EditorFor(model => model.IdPersona, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdPersona, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Nombre contacto:</label>
                        @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Tipo Persona:</label>
                        @Html.EditorFor(model => model.IdTipoPersona, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdTipoPersona, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Cedula:</label>
                        @Html.EditorFor(model => model.CiRif, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CiRif, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Teléfono:</label>
                        @Html.EditorFor(model => model.Telefonos, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telefonos, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Direccion:</label>
                        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-dismiss="modal" role="button">Cerrar</button>
        </div>
        <div class="btn-group" role="group">
            <button type="submit" id="saveImage" class="btn btn-default btn-hover-green" data-action="save" role="button">Guardar</button>
        </div>
    </div>
}